<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UnioneSportiva</title>
    <link rel="icon" src="~/images/favicon.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>    
<body>
    <header>
        <nav id="navbar_top" class="navbar navbar-dark bg-dark navbar-expand-lg">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                <img src="~/images/favicon.png" width="30" height="30" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>   

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Orari" asp-action="Orari">Orari</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Istruttori" asp-action="Istruttori">Istruttori</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sport
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="JuJitsu" asp-action="JuJitsu">Ju-Jitsu</a>
                            <a class="dropdown-item" asp-controller="Orari" asp-action="Orari">Judo</a>
                            <a class="dropdown-item" asp-controller="Orari" asp-action="Orari">Karate</a>
                            <a class="dropdown-item" asp-controller="Orari" asp-action="Orari">Pugilato</a>
                            <a class="dropdown-item" asp-controller="Orari" asp-action="Orari">Lotta</a>
                            <a class="dropdown-item" asp-controller="Orari" asp-action="Orari">Ginnastica Artistica</a>
                            <a class="dropdown-item" asp-controller="Orari" asp-action="Orari">Ginnastica Posturale</a>
                            <a class="dropdown-item" asp-controller="Orari" asp-action="Orari">Pilates</a>
                            <a class="dropdown-item" asp-controller="Orari" asp-action="Orari">Yoga</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class=" bg-dark border-top footer text-muted">
        <div class="container" style="margin-left: 0px;">
            &copy; 2022 - UnioneSportiva - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
