<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UnioneSportiva</title>
    <link rel="icon" src="~/images/favicon.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
</head>    
<body>
    <header>
        <nav id="navbar_top" class="navbar navbar-dark bg-dark navbar-expand-lg">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                <img src="~/images/favicon.png" width="30" height="30" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>   

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Orari" asp-action="Orari">Orari</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Istruttori" asp-action="Istruttori">Istruttori</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sport
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="Sport" asp-action="JuJitsu">Ju-Jitsu</a>
                            <a class="dropdown-item" asp-controller="Sport" asp-action="Judo">Judo</a>
                            <a class="dropdown-item" asp-controller="Sport" asp-action="Karate">Karate</a>
                            <a class="dropdown-item" asp-controller="Sport" asp-action="Pugilato">Pugilato</a>
                            <a class="dropdown-item" asp-controller="Sport" asp-action="Lotta">Lotta</a>
                            <a class="dropdown-item" asp-controller="Orari" asp-action="Orari">Ginnastica Artistica</a>
                            <a class="dropdown-item" asp-controller="Orari" asp-action="Orari">Ginnastica Posturale</a>
                            <a class="dropdown-item" asp-controller="Orari" asp-action="Orari">Pilates</a>
                            <a class="dropdown-item" asp-controller="Sport" asp-action="Yoga">Yoga</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class=" bg-dark border-top footer text-muted">
        <div class="row">
            <div class="col-6 container" style="margin-left: 0px; text-align:center;">
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.facebook.com/UnioneSportivaSestriPonente/"><i class="fab fa-facebook"></i> Facebook</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/unionesportivasestriponente/?hl=en"><i class="fab fa-instagram"></i> Instagram</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 container" style="margin-left: 0px; text-align:center;">
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">010 604 3234</a>
                    </li>
                    <li>
                        <a href="#!">(+39) 123456789</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 container" style="text-align:center;">
                &copy; 2022 - UnioneSportiva - Powered By<a href="https://linkedin.com/in/daniele-puzzanghera-27133a176"> Daniele Puzzanghera</a> -
                <a href="https://www.linkedin.com/in/alessandro-biagetti-ab4058110/"> Alessandro Biagetti</a>
            </div>
        </div>


    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
