@{
    ViewData["Title"] = "Istruttori";
}
<h1>@ViewData["Title"]</h1>

<div id="Istruttori" class="tab">
    <div class="container">
        <div class="row">
            <div class="col align-self-center">
                <ul class="list-group">
                    <li class="list-group-item info-istr-list">
                        <div class="media">
                            <img class="mr-3 profile-img" src="~/images/Stefania_Bavoso.jpg">
                            <div class="media-body">
                                <h5 class="mt-0">Stefania Bavoso</h5>
                                Cintura Nera 5º dan, Qualifica maestro 3º liv. MGA
                                <br>
                                Docente Naz Ju Jutsu e Docente Naz Mga Donna
                                <br>
                                Componente gruppo di lavoro Naz e Organizzazione Gare
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item info-istr-list">
                        <div class="media">
                            <img class="mr-3 profile-img" src="~/images/Sergio_Castelluccio.jpg">
                            <div class="media-body">
                                <h5 class="mt-0">Sergio Castelluccio</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item info-istr-list">
                        <div class="media">
                            <img class="mr-3 profile-img" src="~/images/Stefania_Bavoso.jpg">
                            <div class="media-body">
                                <h5 class="mt-0">Alessandro Fava</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item info-istr-list">
                        <div class="media">
                            <img class="mr-3 profile-img" src="~/images/Sergio_Castelluccio.jpg">
                            <div class="media-body">
                                <h5 class="mt-0">Raffaele Fiorini</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at,
                                tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item info-istr-list">
                        <div class="media">
                            <img class="mr-3 profile-img" src="~/images/Stefania_Bavoso.jpg">
                            <div class="media-body">
                                <h5 class="mt-0">Stefania Bavoso</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item info-istr-list">
                        <div class="media">
                            <img class="mr-3 profile-img" src="~/images/Sergio_Castelluccio.jpg">
                            <div class="media-body">
                                <h5 class="mt-0">Sergio Castelluccio</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
