@{
    ViewData["Title"] = "Orari";
}

<h1>@ViewData["Title"]</h1>

<h3 style="margin-top:50px">LUN-VEN 18:00-21:00</h3>   <!--esempio-->
<h4>SABATO 9-19 DOMENICA 9-14</h4>   <!--esempio-->
<div id="OrariCorsi" class="tab">
    <div class="container">
        <div class="row">
            <div class="orari" style="margin-top:50px">
                <div class="tabella-orari-title">Yoga</div>
                <div class="tabella-orari">
                    <table>
                        <tr>
                            <th>Corso</th>
                            <th>Giorni</th>
                            <th>Orari</th>
                        </tr>
                        <tr>
                            <td>Yoga</td>
                            <td>Martedì/Giovedì</td>
                            <td>20-21</td>
                        </tr>
                    </table>
                </div>
            </div>
            <br>
            <div class="orari">
                <div class="tabella-orari-title">Ginnastica artistica</div>
                <div class="tabella-orari">
                    <table>
                        <tr>
                            <th>Corso</th>
                            <th>Età</th>
                            <th>Giorni</th>
                            <th>Orari</th>
                        </tr>
                        <tr>
                            <td>Corso Motricità</td>
                            <td>Da 3 a 5 anni</td>
                            <td>Mercoledì/Venerdì</td>
                            <td>16.30-17.30</td>
                        </tr>
                        <tr>
                            <td>GAF Elementari</td>
                            <td>Da 6 a 10</td>
                            <td>Martedì/Giovedì</td>
                            <td>17.00-18.00</td>
                        </tr>
                        <tr>
                            <td>GAF Medie/Sup</td>
                            <td>Da 11 anni</td>
                            <td>Martedì</td>
                            <td>15.30-16.45</td>
                        </tr>
                        <tr>
                            <td>GAF Medie/Sup</td>
                            <td>Da 11 anni</td>
                            <td>Giovedì</td>
                            <td>18.00-19.15</td>
                        </tr>
                        <tr>
                            <td>GAF Promozionale</td>
                            <td>Da 8 anni</td>
                            <td>Lunedì/Martedì/Venerdì</td>
                            <td>17.00-20.00</td>
                        </tr>
                        <tr>
                            <td>GAF Promozionale</td>
                            <td>Da 8 anni</td>
                            <td>Sabato OPT.</td>
                            <td>9.30-12.30</td>
                        </tr>
                        <tr>
                            <td>GAF Pre-Agonistica</td>
                            <td>Da 5 a 7 anni</td>
                            <td>Lunedì/Martedì/Venerdì</td>
                            <td>17.00-20.00</td>
                        </tr>
                        <tr>
                            <td>GAF Pre-Agonistica</td>
                            <td>Da 5 a 7 anni</td>
                            <td>Sabato OPT.</td>
                            <td>9.30-12.30</td>
                        </tr>
                        <tr>
                            <td>GAF Agonistica</td>
                            <td></td>
                            <td>Lunedì/Martedì/Venerdì</td>
                            <td>17.00-20.00</td>
                        </tr>
                        <tr>
                            <td>GAF Agonistica</td>
                            <td></td>
                            <td>Sabato OPT.</td>
                            <td>9.30-12.30</td>
                        </tr>
                        <tr>
                            <td>GAF Agonistica GOLD ALLIEVE</td>
                            <td></td>
                            <td>Come Agonistica + Martedì</td>
                            <td>17.00-20.00</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="orari">
                <div class="tabella-orari-title">Ju-Jitsu</div>
                <div class="tabella-orari">
                    <table>
                        <tr>
                            <th>Corso</th>
                            <th>Età</th>
                            <th>Giorni</th>
                            <th>Orari</th>
                        </tr>
                        <tr>
                            <td>Ju Jitsu</td>
                            <td>Da 4 a 7 anni</td>
                            <td>Lunedì/Mercoledì</td>
                            <td>17-18</td>
                        </tr>
                        <tr>
                            <td>Ju Jitsu</td>
                            <td>Da 8 a 11 anni</td>
                            <td>Lunedì/Venerdì</td>
                            <td>18-19</td>
                        </tr>
                        <tr>
                            <td>Ju Jitsu</td>
                            <td>Da 12 anni</td>
                            <td>Lunedì/Venerdì</td>
                            <td>19-20</td>
                        </tr>
                        <tr>
                            <td>Ju Jitsu</td>
                            <td>AGONISTI</td>
                            <td>Mercoledì</td>
                            <td>18-20</td>
                        </tr>
                        <tr>
                            <td>Ju Jitsu</td>
                            <td>Adulti</td>
                            <td>Lunedì/Mercoledì</td>
                            <td>20-21</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="orari">
                <div class="tabella-orari-title">Boxe</div>
                <div class="tabella-orari">
                    <table>
                        <tr>
                            <th>Corso</th>
                            <th>Giorni</th>
                            <th>Orari</th>
                        </tr>
                        <tr>
                            <td>Boxe</td>
                            <td>Martedì/Giovedì</td>
                            <td>19.00-20.30</td>
                        </tr>
                        <tr>
                            <td>Boxe</td>
                            <td>Sabato</td>
                            <td>10.30-12.30</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="orari">
                <div class="tabella-orari-title">Lotta</div>
                <div class="tabella-orari">
                    <table>
                        <tr>
                            <th>Corso</th>
                            <th>Giorni</th>
                            <th>Orari</th>
                        </tr>
                        <tr>
                            <td>Lotta</td>
                            <td>Martedì/Giovedì</td>
                            <td>18.00-19.15</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="orari">
                <div class="tabella-orari-title">Karate</div>
                <div class="tabella-orari">
                    <table>
                        <tr>
                            <th>Corso</th>
                            <th>Giorni</th>
                            <th>Orari</th>
                        </tr>
                        <tr>
                            <td>Karate</td>
                            <td>Lunedì/Mercoledì</td>
                            <td>19.00-20.00</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="orari">
                <div class="tabella-orari-title">Judo</div>
                <div class="tabella-orari">
                    <table>
                        <tr>
                            <th>Corso</th>
                            <th>Età</th>
                            <th>Giorni</th>
                            <th>Orari</th>
                        </tr>
                        <tr>
                            <td>Judo</td>
                            <td>Da 4 a 7 anni</td>
                            <td>Martedì/Giovedì</td>
                            <td>17.00-18.00</td>
                        </tr>
                        <tr>
                            <td>Judo</td>
                            <td></td>
                            <td>Martedì/Giovedì</td>
                            <td>18.00-19.00</td>
                        </tr>
                        <tr>
                            <td>Judo</td>
                            <td>AGONISTI</td>
                            <td>Martedì/Giovedì</td>
                            <td>19.00-20.00</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="orari">
                <div class="tabella-orari-title">Pilates</div>
                <div class="tabella-orari">
                    <table>
                        <tr>
                            <th>Corso</th>
                            <th>Giorni</th>
                            <th>Orari</th>
                        </tr>
                        <tr>
                            <td>Pilates</td>
                            <td>Lunedì/Mercoledì</td>
                            <td>17.00-18.00</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="orari">
                <div class="tabella-orari-title">Tonificazione/GAG/Posturale</div>
                <div class="tabella-orari">
                    <table>
                        <tr>
                            <th>Corso</th>
                            <th>Giorni</th>
                            <th>Orari</th>
                        </tr>
                        <tr>
                            <td>Ton/GAG/Post</td>
                            <td>Lunedì/Mercoledì/Venerdì</td>
                            <td>09.00-10.00</td>
                        </tr>
                        <tr>
                            <td>Ton/GAG/Post</td>
                            <td>Lunedì/Mercoledì/Venerdì</td>
                            <td>10.00-11.00</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
