@{
    ViewData["Title"] = "Orari";
}

<h1>@ViewData["Title"]</h1>

<p>Orari.</p>
<div id="OrariCorsi" class="tab">
    <div class="container">
        <div class="row">
            <div class="col-12" style="font-size: 20px;">
                <br><table class="tabella-orari">
                    <caption class="pb-0"><strong style="font-size: 30px;">Yoga</strong></caption>
                    <tr>
                        <th>Corso</th>
                        <th>Giorni</th>
                        <th>Orari</th>
                    </tr>
                    <tr>
                        <th>Yoga</th>
                        <th>Martedì/Giovedì</th>
                        <th>20-21</th>
                    </tr>
                </table>
                <br><table class="tabella-orari">
                    <caption class="pb-0"><strong style="font-size: 30px;">Ginnastica artistica</strong></caption>
                    <tr>
                        <th>Corso</th>
                        <th>Età</th>
                        <th>Giorni</th>
                        <th>Orari</th>
                    </tr>
                    <tr>
                        <th>Corso Motricità</th>
                        <th>Da 3 a 5 anni</th>
                        <th>MERC/VEN</th>
                        <th>16.30-17.30</th>
                    </tr>
                    <tr>
                        <th>GAF Elementari</th>
                        <th>Da 6 a 10</th>
                        <th>MART/GIOV</th>
                        <th>17.00-18.00</th>
                    </tr>
                    <tr>
                        <th>GAF Medie/Sup</th>
                        <th>Da 11 anni</th>
                        <th>Martedì</th>
                        <th>15.30-16.45</th>
                    </tr>
                    <tr>
                        <th>GAF Medie/Sup</th>
                        <th>Da 11 anni</th>
                        <th>Giovedì</th>
                        <th>18.00-19.15</th>
                    </tr>
                    <tr>
                        <th>GAF Promozionale</th>
                        <th>Da 8 anni</th>
                        <th>LUN/MAR/VEN</th>
                        <th>17.00-20.00</th>
                    </tr>
                    <tr>
                        <th>GAF Promozionale</th>
                        <th>Da 8 anni</th>
                        <th>SABATO OPT.</th>
                        <th>9.30-12.30</th>
                    </tr>
                    <tr>
                        <th>GAF Pre-Agonistica</th>
                        <th>Da 5 a 7 anni</th>
                        <th>LUN/MAR/VEN</th>
                        <th>17.00-20.00</th>
                    </tr>
                    <tr>
                        <th>GAF Pre-Agonistica</th>
                        <th>Da 5 a 7 anni</th>
                        <th>SABATO OPT.</th>
                        <th>9.30-12.30</th>
                    </tr>
                    <tr>
                        <th>GAF Agonistica</th>
                        <th></th>
                        <th>LUN/MAR/VEN</th>
                        <th>17.00-20.00</th>
                    </tr>
                    <tr>
                        <th>GAF Agonistica</th>
                        <th></th>
                        <th>SABATO OPT.</th>
                        <th>9.30-12.30</th>
                    </tr>
                    <tr>
                        <th>GAF Agonistica GOLD ALLIEVE</th>
                        <th></th>
                        <th>Come Agonistica + martedì</th>
                        <th>17.00-20.00</th>
                    </tr>
                </table>
                <br><table class="tabella-orari">
                    <caption class="pb-0"><strong style="font-size: 30px;">Ju-Jitsu</strong></caption>
                    <tr>
                        <th>Corso</th>
                        <th>Età</th>
                        <th>Giorni</th>
                        <th>Orari</th>
                    </tr>
                    <tr>
                        <th>Ju Jitsu</th>
                        <th>Da 4 a 7 anni</th>
                        <th>LUN/MERC</th>
                        <th>17-18</th>
                    </tr>
                    <tr>
                        <th>Ju Jitsu</th>
                        <th>Da 8 a 11 anni</th>
                        <th>LUN/VEN</th>
                        <th>18-19</th>
                    </tr>
                    <tr>
                        <th>Ju Jitsu</th>
                        <th>Da 12 anni</th>
                        <th>LUN/VEN</th>
                        <th>19-20</th>
                    </tr>
                    <tr>
                        <th>Ju Jitsu</th>
                        <th>AGONISTI</th>
                        <th>MERC</th>
                        <th>18-20</th>
                    </tr>
                    <tr>
                        <th>Ju Jitsu</th>
                        <th>Adulti</th>
                        <th>LUN/MERC</th>
                        <th>20-21</th>
                    </tr>
                </table>
                <br><table class="tabella-orari">
                    <caption class="pb-0"><strong style="font-size: 30px;">Boxe</strong></caption>
                    <tr>
                        <th>Corso</th>
                        <th>Giorni</th>
                        <th>Orari</th>
                    </tr>
                    <tr>
                        <th>Boxe</th>
                        <th>MAR/GIOV</th>
                        <th>19.00-20.30</th>
                    </tr>
                    <tr>
                        <th>Boxe</th>
                        <th>SABATO</th>
                        <th>10.30-12.30</th>
                    </tr>
                </table>
                <br><table class="tabella-orari">
                    <caption class="pb-0"><strong style="font-size: 30px;">Lotta</strong></caption>
                    <tr>
                        <th>Corso</th>
                        <th>Giorni</th>
                        <th>Orari</th>
                    </tr>
                    <tr>
                        <th>Lotta</th>
                        <th>MAR/GIOV</th>
                        <th>18.00-19.15</th>
                    </tr>
                </table>
                <br><table class="tabella-orari">
                    <caption class="pb-0"><strong style="font-size: 30px;">Karate</strong></caption>
                    <tr>
                        <th>Corso</th>
                        <th>Giorni</th>
                        <th>Orari</th>
                    </tr>
                    <tr>
                        <th>Karate</th>
                        <th>LUN/MERC</th>
                        <th>19.00-20.00</th>
                    </tr>
                </table>
                <br><table class="tabella-orari">
                    <caption class="pb-0"><strong style="font-size: 30px;">Judo</strong></caption>
                    <tr>
                        <th>Corso</th>
                        <th>Descrizione</th>
                        <th>Giorni</th>
                        <th>Orari</th>
                    </tr>
                    <tr>
                        <th>Judo</th>
                        <th>Da 4 a 7 anni</th>
                        <th>MART/GIOV</th>
                        <th>17.00-18.00</th>
                    </tr>
                    <tr>
                        <th>Judo</th>
                        <th></th>
                        <th>MART/GIOV</th>
                        <th>18.00-19.00</th>
                    </tr>
                    <tr>
                        <th>Judo</th>
                        <th>AGONISTI</th>
                        <th>MART/GIOV</th>
                        <th>19.00-20.00</th>
                    </tr>
                </table>
                <br><table class="tabella-orari">
                    <caption class="pb-0"><strong style="font-size: 30px;">Pilates</strong></caption>
                    <tr>
                        <th>Corso</th>
                        <th>Giorni</th>
                        <th>Orari</th>
                    </tr>
                    <tr>
                        <th>Pilates</th>
                        <th>LUN/MERC</th>
                        <th>17.00-18.00</th>
                    </tr>
                </table>
                <br><table class="tabella-orari">
                    <caption class="pb-0"><strong style="font-size: 30px;">Tonificazione/GAG/Posturale</strong></caption>
                    <tr>
                        <th>Corso</th>
                        <th>Giorni</th>
                        <th>Orari</th>
                    </tr>
                    <tr>
                        <th>Ton/GAG/Post</th>
                        <th>LUN/MERC/VEN</th>
                        <th>09.00-10.00</th>
                    </tr>
                    <tr>
                        <th>Ton/GAG/Post</th>
                        <th>LUN/MERC/VEN</th>
                        <th>10.00-11.00</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
