@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight: bold;">UNIONE SPORTIVA SESTRI PONENTE</h1>
    <div class="row" style="width: 90%">
        <div class="col-8">
            <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item carouselImage active">
                        <img src="~/images/pugilato-to-show-1.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item carouselImage">
                        <img src="~/images/ginnastica-to-show-2.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item carouselImage">
                        <img src="~/images/ginnastica-to-show.jpg" class="d-block w-100">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-4">
            <div class="orari" style="margin-top:50px">
                <div class="tabella-orari-title">Segreteria</div>
                <div class="tabella-orari">
                    <table>
                        <tr>
                            <th>Giorni</th>
                            <th>Orari</th>
                        </tr>
                        <tr>
                            <td>Lunedì</td>
                            <td>20-21</td>
                        </tr>
                        <tr>
                            <td>Martedì</td>
                            <td>20-21</td>
                        </tr>
                        <tr>
                            <td>Mercoledì</td>
                            <td>20-21</td>
                        </tr>
                        <tr>
                            <td>Giovedì</td>
                            <td>20-21</td>
                        </tr>
                        <tr>
                            <td>Venerdì</td>
                            <td>20-21</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

    


    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d565.3775922226309!2d8.85009316574067!3d44.42650828242544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d340b1a13b371f%3A0xf16fdbdfb8e26615!2sUnione%20Sportiva%20Sestri%20Ponente!5e0!3m2!1sen!2sit!4v1647611744196!5m2!1sen!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


</div>
