@{
    ViewData["Title"] = "JuJitsu";
}

<h1>@ViewData["Title"]</h1>

<div id="ju-jitsu" class="tab">
    <div class="row">
        <div class="col-12">
            <ul class="lista_insegnanti">
                <a id="maestro" style="font-size:40px; font-weight: bold;">Maestri</a>
                <li class="m-2"><a id="maestro">Sergio Castelluccio</a></li>
                <li class="m-2"><a id="maestro">Stefania Bavoso</a></li>
            </ul>
            <br>
            <div id="info_corso">
                <p class="descrizione m-4 p-4 w-100">
                    <strong>
                        Il ju-jitsu è un'arte di difesa personale che basa i suoi principi sulle radici del detto originale giapponese Hey yo shin kore do, ovvero "Il morbido vince il duro". In molte arti marziali, oltre all'equilibrio del corpo, conta molto anche la forza di cui si dispone: nel jujutsu, invece, la forza della quale si necessita proviene proprio dall'avversario; più si cerca di colpire forte, maggiore sarà la forza che si ritorcerà contro. Il principio di base, quindi, sta nell'applicare una determinata tecnica proprio nell'ultimo istante dell'attacco subìto, con morbidezza e cedevolezza, in modo che l'avversario non si accorga di una difesa e trovi, davanti a sé, il vuoto.
                    </strong>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="CurrentSportImg" src="~/images/tatami.jpg">
        </div>
        <div class="col">
            <img class="m-4 federazione" src="~/images/fijkam.jpg">
        </div>
        <div class="col">
            <img class="CurrentSportImg" src="~/images/ju-jitsu-to-show.jpg">
        </div>
    </div>
</div>