@{
    ViewData["Title"] = "Judo";
}

<h1>@ViewData["Title"]</h1>

<div id="Judo" class="tab">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <ul class="lista_insegnanti">
                        <a id="maestro" style="font-size:40px; font-weight: bold;">Maestri</a>
                        <li class="m-2"><a id="maestro">Marco Stragapede</a></li>
                    </ul>
                </div>
                <div class="col-8">
                    <div id="info_corso">
                        <p class="descrizione m-4 p-4 w-100">
                            <strong>
                                Il judo (via della cedevolezza) è un'arte marziale, uno sport da combattimento e un metodo di difesa personale giapponese formalmente nato
                                con la fondazione del Kōdōkan da parte del professor Kanō Jigorō, nel 1882. I praticanti di tale disciplina sono denominati judoisti o più comunemente judoka.
                            </strong>
                            <br>
                            <cite>
                                « Il judo è la via più efficace per utilizzare la forza fisica e mentale. Allenarsi nella disciplina del judo significa raggiungere la perfetta conoscenza dello spirito
                                attraverso l'addestramento attacco-difesa e l'assiduo sforzo per ottenere un miglioramento fisico-spirituale.
                                Il perfezionamento dell'io così ottenuto dovrà essere indirizzato al servizio sociale, che costituisce l'obiettivo ultimo del judo
                                è un bellissimo concetto riguardante la logica, la virtù e lo splendore; è la realtà di ciò che è sincero, buono e bello.
                                L'espressione del judo è attraverso il waza, che si acquisisce con l'allenamento tecnico basato sullo studio scientifico »
                                <br>
                                (Jigorō Kanō)
                            </cite>
                        </p>
                    </div>
                </div>

            </div> 
        </div>
    </div>
    <div class="row">
        <div class="col-4" style="text-align:center;">
            <img class="CurrentSportImg" src="~/images/judo-to-show.jpg">
        </div>
        <div class="col-4" style="text-align:center;">
            <img class="federazione" src="~/images/FGI.png">
        </div>
        <div class="col-4" style="text-align:center;">
            <img class="CurrentSportImg" src="~/images/judo-to-show-2.jpg">
        </div>
    </div>
</div>