@{
    ViewData["Title"] = "Karate";
}

<h1>@ViewData["Title"]</h1>

<div id="Karate" class="tab">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <ul class="lista_insegnanti">
                        <a id="maestro" style="font-size:40px; font-weight: bold;">Maestri</a>
                        <li class="m-2"><a id="maestro">Alessandro Fava</a></li>
                        <li class="m-2"><a id="maestro">Raffaele Fiorini</a></li>
                    </ul>
                </div>
                <div class="col-8">
                    <div id="info_corso">
                        <p class="descrizione m-4 p-4 w-100">
                            <strong>
                                Il karate è un'arte marziale nata in Giappone, nelle isole Okinawa e prevede la difesa a mani nude, senza l'ausilio di armi. Attualmente viene praticato in versione sportiva (privato della sua componente marziale e finalizzato ai risultati competitivi tipici dell'agonismo occidentale) e in versione arte marziale tradizionale per difesa personale.
                                Nel passato era studiato e praticato solo da uomini, ma col passare dei secoli anche le donne si sono avvicinate a questa disciplina.
                            </strong>
                        </p>
                    </div>
                </div>

            </div> 
        </div>
    </div>
    <div class="row">
        <div class="col-4" style="text-align:center;">
            <img class="CurrentSportImg" src="~/images/karate-to-show-2.jpg">
        </div>
        <div class="col-4" style="text-align:center;">
            <img class="federazione" src="~/images/fijkam.jpg">
        </div>
        <div class="col-4" style="text-align:center;">
            <img class="CurrentSportImg" src="~/images/karate-to-show-1.jpg">
        </div>
    </div>
</div>