@{
    ViewData["Title"] = "Lotta";
}

<h1>@ViewData["Title"]</h1>

<div id="Lotta" class="tab">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <ul class="lista_insegnanti">
                        <a id="maestro" style="font-size:40px; font-weight: bold;">Maestri</a>
                        <li class="m-2"><a id="maestro">Alessandro Fava</a></li>
                        <li class="m-2"><a id="maestro">Raffaele Fiorini</a></li>
                    </ul>
                </div>
                <div class="col-8">
                    <div id="info_corso">
                        <p class="descrizione m-4 p-4 w-100">
                            <strong>
                                La lotta è nata con l’uomo per necessità di sopravvivenza o volontà di dominio, trasformandosi poi in competizione agonistica ed esercizio fisico tra i pù efficaci. Esaltazione della forza, della resistenza e dell’agilità, per Otto Heinrich Jäger era «il più completo e armonioso degli esercizi».
                                La lotta agonistica venne praticata da tutti i popoli già in tempi remoti, ma fu in Grecia che raggiunse il più alto livello di notorietà e di perfezione.
                                passato era studiato e praticato solo da uomini, ma col passare dei secoli anche le donne si sono avvicinate a questa disciplina.
                            </strong>
                        </p>
                    </div>
                </div>

            </div> 
        </div>
    </div>
    <div class="row">
        <div class="col-4" style="text-align:center;">
            <img class="CurrentSportImg" src="~/images/lotta-to-show-2.jpg">
        </div>
        <div class="col-4" style="text-align:center;">
            <img class="federazione" src="~/images/fijkam.jpg">
        </div>
        <div class="col-4" style="text-align:center;">
            <img class="CurrentSportImg" src="~/images/lotta-to-show-1.jpg">
        </div>
    </div>
</div>