@{
    ViewData["Title"] = "Pilates";
}

<h1>@ViewData["Title"]</h1>

<div id="pilates" class="tab">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <ul class="lista_insegnanti">
                        <a id="maestro" style="font-size:40px; font-weight: bold;">Maestri</a>
                        <li class="m-2"><a id="maestro">Sergio Castelluccio</a></li>
                        <li class="m-2"><a id="maestro">Stefania Bavoso</a></li>
                    </ul>
                </div>
                <div class="col-8">
                    <div id="info_corso">
                        <p class="descrizione m-4 p-4 w-100">
                            <strong>
                                Il pilates è un tipo di ginnastica (metodo fitness) di tipo rieducativo, preventivo ed ipoteticamente terapeutico (riabilitativo),
                                focalizzato sul controllo della postura tramite la regolazione del baricentro a sua volta necessario a guadagnare maggiore armonia e fluidità nei movimenti.
                                Dovrebbero trarre vantaggio dall'esecuzione regolare di pilates soprattutto la colonna vertebrale e il controllo dell'equilibrio.
                            </strong>
                        </p>
                    </div>
                </div>

            </div> 
        </div>
    </div>
    <div class="row">
        <div class="col-4" style="text-align:center;">
            <img class="CurrentSportImg" src="~/images/tatami.jpg">
        </div>
        <div class="col-4" style="text-align:center;">
            <img class="federazione" src="~/images/fijkam.jpg">
        </div>
        <div class="col-4" style="text-align:center;">
            <img class="CurrentSportImg" src="~/images/ju-jitsu-to-show.jpg">
        </div>
    </div>
</div>