@{
    ViewData["Title"] = "Pugilato";
}

<h1>@ViewData["Title"]</h1>

<div id="Pugilato" class="tab">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <ul class="lista_insegnanti">
                        <a id="maestro" style="font-size:40px; font-weight: bold;">Maestri</a>
                        <li class="m-2"><a id="maestro">Sergio Castelluccio</a></li>
                        <li class="m-2"><a id="maestro">Stefania Bavoso</a></li>
                    </ul>
                </div>
                <div class="col-8">
                    <div id="info_corso">
                        <p class="descrizione m-4 p-4 w-100">
                            <strong>
                                Il pugilato (in inglese boxing; in francese boxe) è uno dei più antichi e noti sport da combattimento. A livello competitivo esso
                                si svolge all'interno di uno spazio quadrato chiamato ring, tra due atleti che si affrontano
                                colpendosi con i pugni chiusi (protetti da appositi guantoni), allo scopo di indebolire e atterrare l'avversario per una determinata durata di tempo.
                            </strong>
                        </p>
                    </div>
                </div>

            </div> 
        </div>
    </div>
    <div class="row">
        <div class="col-4" style="text-align:center;">
            <img class="CurrentSportImg" src="~/images/pugilato-to-show-1.jpg">
        </div>
        <div class="col-4" style="text-align:center;">
            <img class="federazione" src="~/images/fijkam.jpg">
        </div>
        <div class="col-4" style="text-align:center;">
            <img class="CurrentSportImg" src="~/images/pugilato-to-show-2.jpg">
        </div>
    </div>
</div>