@{
    ViewData["Title"] = "JuJitsu";
}

<h1>@ViewData["Title"]</h1>

<div id="ju-jitsu" class="tab">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <ul class="lista_insegnanti">
                        <a id="maestro" style="font-size:40px; font-weight: bold;">Maestri</a>
                        <li class="m-2"><a id="maestro">Lara Sangiorgio</a></li>
                    </ul>
                </div>
                <div class="col-8">
                    <div id="info_corso">
                        <p class="descrizione m-4 p-4 w-100">
                            <strong>
                                Con il sostantivo maschile sanscrito yoga (devanāgarī: योग, adattato anche in ioga) nella terminologia delle religioni originarie dell'India si indicano le pratiche ascetiche e meditative. Non specifico di alcuna particolare tradizione hindu, lo Yoga è stato principalmente inteso come mezzo di realizzazione e salvezza spirituale, quindi variamente interpretato e disciplinato a seconda della scuola.
                                Tale termine sanscrito, con significato analogo, viene utilizzato anche in ambito buddhista e giainista. Come termine collegato alle darśana, yoga-darśana (dottrina dello yoga) rappresenta una delle sei darśana, ovvero uno dei "sistemi ortodossi della filosofia religiosa" hindu. In epoca molto più recente, si è cercato di diffondere lo Yoga anche nel mondo occidentale.
                            </strong>
                        </p>
                    </div>
                </div>

            </div> 
        </div>
    </div>
    <div class="row">
        <div class="col-4" style="text-align:center;">
            <img class="CurrentSportImg" src="~/images/yoga-to-show-2.jpg">
        </div>
        <div class="col-4" style="text-align:center;">
            
        </div>
        <div class="col-4" style="text-align:center;">
            <img class="CurrentSportImg" src="~/images/yoga-to-show-1.jpg">
        </div>
    </div>
</div>